.repair__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 50px;
}

.repair__form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.repair__form label {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
    font-size: 1.17em;
}

.repair__form input {
    display: block;
    width: 208px;
    padding: 8px;
    font-size: 16px;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.repair__form strong {
    text-align: start;
}

.repair__form button {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f9f9f9;
    font-size: 1.17em;
}
