.columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 18.720px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: rgba(249, 249, 249, 1);
}

.columns-container {
    overflow: hidden;
    width: 100%;
    transition: max-height 0.3s ease;
    max-width: 223px;
    /* max-height задаётся inline из компонента */
}

.columns-container.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 10px;
    /* max-height задаётся inline из компонента */
}

.columns-container.scrollable::-webkit-scrollbar {
    width: 10px;
}

.columns-container.scrollable::-webkit-scrollbar-track {
    background-color: transparent;
}

.columns-container.scrollable::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 100vw;
}

.columns-container.scrollable::-webkit-scrollbar-thumb:hover {
    background-color: #808080;
}