/* .list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
} */

.list__main {
    margin-top: 25px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.list {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr 1fr 3fr;
    padding: 2rem;
}

.list button {
    height: 75px;
    width: 75px;
    background-color: transparent;
}

.list button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.list img {
    width: 100%;
}

/* .columns {
    display: flex;
    flex-direction: column;
    padding-bottom: 18.720px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: rgba(249, 249, 249, 1);
} */

.columns__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.columns__buttons button {
    margin-top: 0px;
}

.actions {
    margin-top: 20px;
    margin-bottom: 20px;
}

.actions button {
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f9f9f9;
}

.actions button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}