.selectedUnit {
    /* background-color: #ddd; */
    background-color: white;
}

.unitCard {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.unitCard button {
    position: absolute;
}

.unitCard img {
    height: 15px;
}

.popup-line {
    display: flex;
    justify-content: space-between;
}